$black: #0d0f17;
$white: #FFF;
$blue: #006ac7;
$red: #e84640;
$first-grey: #9d9daf;
$second-grey-dark: rgb(132,	133,	149);
$second-grey:rgba(132,	133,	149, .15);
$second-grey-light: rgba(132,	133,	149, .25);
$third-grey: #6b6c7b;

$first-indent: 16px;
$second-indent: 12px;

$max-width: 1440;


